:root {
  --main-bg-color: #fffaeb;
  --main-heading-color: #102a42;
  --main-gold-color: #e9b949;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  color: var(--main-heading-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e2e8f0;
  background-color: var(--main-bg-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: var(--main-heading-color);
}

/* media query for screens less than 768px */
@media (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    background-color: var(--main-bg-color);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media (max-width: 768px) {
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .home-links {
    padding-bottom: 1rem;
  }

  .pfp-container {
    display: none;
  }
}

.home-container {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 5%; */
}

.home-text {
  margin-right: 5%;
  text-align: center;
  font-size: 1.6rem;
}

.home-text h1 {
  margin-bottom: 0;
}

.underline {
  display: block;
  width: 6rem;
  height: 0.3rem;
  margin-bottom: 1.25rem;
  background: #e9b949;
  margin-left: auto;
  margin-right: auto;
}

.home-text p {
  color: #617d98;
  margin-bottom: 2%;
}

.home-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-links a {
  padding: 0 6% 2% 6%;
  font-size: 2rem;
}

.home-links a:visited {
  text-decoration: none;
  color: #102a42;
}

.home-links a:hover {
  color: #e9b949;
  transition-duration: 0.4s;
}

.pfp-container img {
  border-radius: 10px;

  box-shadow: rgb(255, 250, 235) 20px -20px 0px -3px,
    rgb(233, 185, 73) 20px -20px;
}

.footer {
  padding: 30px;
  flex-shrink: 0;
  background-color: #222;
  color: #617d98;
  display: flex;
  justify-content: center;
  align-items: center;
}
