:root {
  --main-bg-color: #fffaeb;
  --main-heading-color: #102a42;
  --main-gold-color: #e9b949;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  color: var(--main-heading-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e2e8f0;
  background-color: var(--main-bg-color);
  position: sticky;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item a {
  font-weight: bold;
  margin-left: 3rem;
  margin-right: 5rem;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--main-heading-color);
}

.nav-link:hover {
  color: var(--main-gold-color);
  transition: all 0.2s ease-in-out;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: var(--main-heading-color);
}

/* media query for screens less than 768px for navbar */
@media (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    background-color: var(--main-bg-color);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* media query for screens less than 768px for Home page */
@media (max-width: 768px) {
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--main-heading-color);
  }

  .home-container .pfp-container {
    display: none;
  }
}

.home-container {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-text {
  margin-right: 5%;
  text-align: center;
  font-size: 1.6rem;
}

.home-text h1 {
  margin-bottom: 0;
}

.underline {
  display: block;
  width: 6rem;
  height: 0.3rem;
  margin-bottom: 1.25rem;
  background: #e9b949;
  margin-left: auto;
  margin-right: auto;
}

.home-text p {
  color: #617d98;
  margin-bottom: 2%;
}

.home-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-links a {
  padding: 0 6% 2% 6%;
  font-size: 2rem;
  color: var(--main-heading-color);
}

.home-links a:visited {
  text-decoration: none;
  color: #102a42;
}

.home-links a:hover {
  color: #e9b949;
  transition-duration: 0.4s;
}

.pfp-container img {
  border-radius: 10px;

  box-shadow: rgb(255, 250, 235) 20px -20px 0px -3px,
    rgb(233, 185, 73) 20px -20px;

  height: 460px;
  margin: 0px 10%;
}

.about-container,
.contact-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-text {
  padding: 3% 5% 1% 5%;
  text-align: center;
  font-size: 1.4rem;
}

.about-text h1 {
  padding-top: 2%;
}

.about-text p {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  padding: 0;
}

a.button {
  appearance: button;
  text-transform: uppercase;
  background: #e9b949;
  color: rgb(16, 42, 66);
  padding: 0.275rem 0.75rem;
  letter-spacing: 0.15rem;
  display: inline-block;
  font-weight: 700;
  font-size: 1.25rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
  border-radius: 0.5rem;
  margin-bottom: 20px;
  margin-top: 10px;
  text-decoration: none;
}

a.button:hover {
  background: var(--main-heading-color);
  color: var(--main-gold-color);
  transition: all 0.2s linear;
}

/* media query for About Page less than 768px */
@media (max-width: 768px) {
  .about-container {
    padding-top: 5%;
  }
}

.contact-text {
  text-align: center;
  font-size: 1.6rem;
  padding: 0% 4%;
}

.contact-text h1 {
  margin-bottom: 0;
}

.email:hover {
  color: var(--main-gold-color);
  transition: all 0.2s linear;
}

.projects-header {
  width: 100%;
  padding: 5%;
  display: grid;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  text-align: center;
  font-size: 2rem;
}

.section-title h1 {
  margin-bottom: 0.5rem;
}

.projects-section {
  display: flex;
  flex-direction: column;
  background-color: #fffaeb;
}

.project-container {
  display: flex;
  padding: 2.5rem;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  background-color: white;
}

.project-card {
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  flex-direction: column;
  color: black;
  flex: 1 0 325px;
  max-width: 400px;
  font-size: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  transition: transform 200ms ease-in-out;
  font-size: 1.5rem;
}

.project-card:hover {
  transform: translateY(-1rem);
}

.card-image {
  flex: 0 0 100px;
}

.card-image img {
  max-width: 100%;
  max-height: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 100%;
}

.card-title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-details {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.card-tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1%;
}

.card-tech p {
  background: #dae2ec;
  padding: 0.15rem 0.35rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  display: block;
  margin: 0.25rem 0.25rem 0;
}

.card-footer {
  text-transform: uppercase;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: auto;
}

.card-footer a {
  padding-right: 10px;
  color: #102a42;
}

.card-footer a:visited {
  text-decoration: none;
  color: #102a42;
}

.card-footer i:hover {
  color: #e9b949;
  transition-duration: 0.6s;
}

.footer {
  padding: 30px;
  flex-shrink: 0;
  background-color: #222;
  color: #617d98;
  display: flex;
  justify-content: center;
  align-items: center;
}
